<button class="btn btn-primary" routerLink="/specializationform"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>

<div class="row">
  <div>
      
      <div class="table-responsive">
                    <table class="table table-bordered">
                        
                        <caption>List of Specializations</caption>
                        <thead>
                          <tr class="bg-success">
                            <th>Sr. No.</th>
                            <th>Name</th>
                            <th>Last Operation</th>
                            <th>Approval Status</th>
                            <th>Action</th>
                            <th>Moderate</th>
                          </tr>
                        </thead>
                        <tbody *ngFor="let specialization of specialization; let i=index"  [class.selected]="specialization.id === selectedId">
                          <tr >
                            <td> {{i+1}} </td>
                            <td> {{specialization.name}} </td>
                            <td> {{specialization.operation}} </td>
                            <td> {{specialization.approval_status}} </td>
                            <td><button class="btn" (click)="edit(specialization.id)"><i class="fa fa-edit"></i></button><button class="btn" (click)="delete(specialization.id)"><i class="fa fa-trash-alt"></i></button></td>
                            <td><button class="btn" (click)="app(specialization.id)"><i class="fa fa-thumbs-up"></i></button><button class="btn" (click)="dis(specialization.id)"><i class="fa fa-thumbs-down"></i></button></td>    
                          </tr>
                        </tbody>
                    </table>
        </div>
  </div>
</div>

