<button class="btn btn-primary" routerLink="/degreeform"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>

<div class="row">
  <div>
      
      <div class="table-responsive">
<table class="table table-bordered">
        
        <caption>List of Degrees</caption>
        <thead>
          <tr class="bg-success">
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Last Operation</th>
            <th>Approval Status</th>
            <th>Action</th>
            <th>Moderate</th>
          </tr>
        </thead>
        <tbody *ngFor="let degree of degree; let i=index">
          <tr >
            <td> {{i+1}} </td>
            <td> {{degree.name}} </td>
            <td> {{degree.operation}} </td>
            <td> {{degree.approval_status}} </td>
            <td><button class="btn" (click)="edit(degree.id)"><i class="fa fa-edit"></i></button><button class="btn" (click)="delete(degree.id)"><i class="fa fa-trash-alt"></i></button></td>
            <td><button  class="btn" (click)="app(degree.id)"><i class="fa fa-thumbs-up"></i></button><button class="btn" (click)="dis(degree.id)"><i class="fa fa-thumbs-down"></i></button></td>    
          </tr>
        </tbody>
    </table>
    </div>
    </div>