<app-hospital-sidebar></app-hospital-sidebar> 
<div class="row">
  <div>
      
      <div class="table-responsive">
<table class="table table-bordered">
        
        <caption>List of Hospital Groups</caption>
        <thead>
          <tr class="bg-success">
            <th>Sr. No.</th>
            <th>Name</th>
            <th>Last Operation</th>
            <th>Approval Status</th>
            <th>Action</th>
            <th>Moderate</th>
          </tr>
        </thead>
        <tbody *ngFor="let hospital of hospital_group; let i=index">
          <tr >
            <td> {{i+1}} </td>
            <td> {{hospital.name}} </td>
            <td> {{hospital.operation}} </td>
            <td> {{hospital.approval_status}} </td>
            <td><button class="btn" (click)="edit(hospital.id)"><i class="fa fa-edit"></i></button><button class="btn" (click)="delete(hospital.id)"><i class="fa fa-trash-alt"></i></button></td>
            <td><button  class="btn" (click)="app(hospital.id)"><i class="fa fa-thumbs-up"></i></button><button class="btn" (click)="dis(hospital.id)"><i class="fa fa-thumbs-down"></i></button></td>    
          </tr>
        </tbody>
    </table>
    </div>
    </div>