
<app-hospital-sidebar></app-hospital-sidebar> 
<button class="btn btn-primary" *ngIf="hospital_id" [routerLink]="['/addhospitaldepartment',hospital_id]"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Hospital Department</button>


<div class="row">
      
      <div class="table-responsive">
    <table class="table table-bordered">
        
        <caption>List of departments</caption>
        <thead>
          <tr class="bg-success">
              <th>Sr.No</th>
            <th>Name</th>
            <th>Specialization</th>
            <th>Services Offered</th>
            <th>Last Operation</th>
           
            <th>Status</th>
            <th>Action</th>
            <th>Moderate</th>
          </tr>
        </thead>
        <tbody *ngFor="let department of department;let i=index;"  [class.selected]="department.id === selectedId"> 
            
          <tr  >  
            
            <td> {{i+1}} </td>
            <td> {{department.name}} </td>
            <td>{{department.specialization}}</td>
            <td>{{department.services_offered}} </td>
            <td>{{department.operation}} </td>
            <td>{{department.approval_status}}</td>
            <td><button class="btn" (click)="edit(department.id)"><i class="fa fa-edit"></i></button><button class="btn" (click)="delete(department.id)"><i class="fa fa-trash-alt"></i></button></td>
            <td><button class="btn" (click)="app(department.id)"><i class="fa fa-thumbs-up"></i></button><button class="btn" (click)="dis(department.id)"><i class="fa fa-thumbs-down"></i></button></td>
          </tr>
          
        </tbody>
    </table>
  </div>
</div>


