<app-hospital-sidebar></app-hospital-sidebar> 
<div class="row">
        <div class="col-sm-12">
                <div class="panel panel-info">
                <header class="panel-heading form-header">
                 <h4>   New Hospital Registration!</h4>
                </header>
      

        <div class="panel-body">
                 <form novalidate (ngSubmit)="onSubmit()"[formGroup]="hospitalForm"  >
                        <section class="row" >

                            <fieldset class="col-sm-3 form-group">

                                <div class="form-group"
                                [ngClass]="{'has-error':(hospitalForm.get('name').touched ||
                                hospitalForm.get('name').dirty) &&
                                hospitalForm.get('name').errors }">

                                <label  for="nameId" class="control-label" >Name<sup>*</sup> </label>

                                        <input class="form-control"
                                        id="nameId"
                                        type="text"
                                        pattern="[A-Za-z]{3}[0-9A-Za-z\s]*"
                                        placeholder="hospital Name (required)"
                                        formControlName="name" />
                        <span class="help-block" *ngIf="(hospitalForm.get('name').touched ||
                                                         hospitalForm.get('name').dirty) &&
                                                         hospitalForm.get('name').errors">
                                <span *ngIf="hospitalForm.get('name').errors.required">
                                        Please enter hospital name.
                                </span>
                                <span *ngIf="hospitalForm.get('name').errors.minlength">
                                The hospital name must be atleast 3 characters.
                                </span>

                        </span>

                        </div>
                        </fieldset>

                        <fieldset class="col-sm-3 form-group">
                        <div class="form-group"
                        [ngClass]="{'has-error':(hospitalForm.get('profile_image_url').touched ||
                        hospitalForm.get('profile_image_url').dirty) &&
                        hospitalForm.get('profile_image_url').errors }">
                                <label  for="profileimageId" class="control-label">Profile Image<sup>*</sup></label>
                                <input class="form-control"
                                id="profileimageId"
                                type="file"
                                [(ngModel)]="profile"
                                placeholder="hospital_profile_image_url (required)"
                                formControlName="profile_image_url" 
                                (change)="fileEvent($event)"/>

                        <span class="help-block" *ngIf=" (hospitalForm.get('profile_image_url').touched ||
                        hospitalForm.get('profile_image_url').dirty) && hospitalForm.get('profile_image_url').errors">
                                                <span *ngIf="hospitalForm.controls.profile_image_url.errors.required">
                                                        Please choose one image.

                                                </span>

                        </span>



                        </div>
                        </fieldset>
                        <fieldset class="col-sm-3 form-group">
                                        <div class="form-group"
                                        [ngClass]="{'has-error':(hospitalForm.get('cover_image_url').touched ||
                                        hospitalForm.get('cover_image_url').dirty) &&
                                        hospitalForm.get('cover_image_url').errors }">
                                                <label  for="coverimageId" class="control-label">Cover Image<sup>*</sup> </label>
                
                                                <input class="form-control"
                                                id="coverimageId"
                                                type="file"
                                                placeholder="hospital_cover_image_url (required)"
                                                formControlName="cover_image_url"
                                                [(ngModel)]="cover"
                                                (change)="fileEvent1($event)"/>
                
                                        <span class="help-block" *ngIf=" (hospitalForm.get('cover_image_url').touched ||
                                        hospitalForm.get('cover_image_url').dirty) && hospitalForm.get('cover_image_url').errors">
                                                                <span *ngIf="hospitalForm.controls.cover_image_url.errors.required">
                                                                        Please choose one image.
                
                
                
                                                                </span>
                
                                        </span>
                
                
                
                                        </div>
                                        </fieldset>
                
        
                                    

                        <fieldset class="col-sm-3 form-group">
                        <div class="form-group"
                        [ngClass]="{'has-error':(hospitalForm.get('phone_nums').touched ||
                        hospitalForm.get('phone_nums').dirty) &&
                        hospitalForm.get('phone_nums').errors }" >
                                <label  for="phoneId" class="control-label">Phone Number<sup>*</sup> </label>

                                <input class="form-control"
                                id="phoneId"
                                type="text"
                                pattern="[6-9]([0-9]{9})"
                                formControlName="phone_nums" />

                        </div>
                        </fieldset>

                </section>
                        <section class="row" >



                        <fieldset class="col-sm-3 form-group">

                        <div class="form-group"
                        [ngClass]="{'has-error':(hospitalForm.get('email_ids').touched ||
                        hospitalForm.get('email_ids').dirty) &&
                        hospitalForm.get('email_ids').errors }" >
                                <label  for="email_idsId" class="control-label" >Email<sup>*</sup> </label>

                                <input class="form-control"
                                id="email_idsId"
                                type="text"
                           
                                formControlName="email_ids"
                                 />
                                 <span class="help-block" *ngIf="(hospitalForm.get('email_ids').touched || 
                                 hospitalForm.get('email_ids').dirty) && 
                                 hospitalForm.get('email_ids').errors">
             <span *ngIf="hospitalForm.get('email_ids').errors.required">
                                    <sup>*</sup> This field is required.
                             </span>
                             <span *ngIf="hospitalForm.get('email_ids').errors.email_ids&&!hospitalForm.get('email_ids').errors.required">
                                <sup>*</sup>  Please enter correct id.
                        </span>


                             </span>

                        </div>

                        </fieldset>

                        <fieldset class="col-sm-3 form-group">

                                        <div class="form-group"
                                        [ngClass]="{'has-error':(hospitalForm.get('opening_time').touched ||
                                        hospitalForm.get('opening_time').dirty) &&
                                        hospitalForm.get('opening_time').errors }" >
                                                <label  for="opening_time" class="control-label">Opening Time <sup>*</sup></label>

                                                <input class="form-control"
                                                id="opening_timeId"
                                                type="text"
                                                pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                                placeholder="HH:MM(24hr format)"
                                                formControlName="opening_time" />

                                                <span class="help-block" *ngIf="(hospitalForm.get('opening_time').touched || 
                                                hospitalForm.get('opening_time').dirty) && 
                                                hospitalForm.get('opening_time').errors">
                            <span *ngIf="hospitalForm.get('opening_time').errors.required">
                                        .
                                            </span>
                                            </span>

                                        </div>

                        </fieldset>

                        <fieldset class="col-sm-3 form-group">

                                        <div class="form-group"
                                        [ngClass]="{'has-error':(hospitalForm.get('closing_time').touched ||
                                        hospitalForm.get('closing_time').dirty) &&
                                        hospitalForm.get('closing_time').errors }" >
                                                <label  for="closing_time" class="control-label">Closing Time<sup>*</sup> </label>

                                                <input class="form-control"
                                                id="closing_timeId"
                                                type="text"
                                                pattern="([01]?[0-9]|2[0-3]):[0-5][0-9]"
                                                placeholder="HH:MM(24hr format)"
                                                formControlName="closing_time" />
                                                <span class="help-block" *ngIf="(hospitalForm.get('closing_time').touched || 
                                                hospitalForm.get('closing_time').dirty) && 
                                                hospitalForm.get('closing_time').errors">
                            <span *ngIf="hospitalForm.get('closing_time').errors.required">

                                            </span>
                                            </span>

                                        </div>

                        </fieldset>
                        <fieldset class="col-sm-3 form-group">
    
                                        <div class="form-group" [ngClass]="{'has-error':(hospitalForm.get('hospital_group').touched ||
                                        hospitalForm.get('hospital_group').dirty) &&
                                        hospitalForm.get('hospital_group').errors }">
                                                <label  for="hospital_group" class="control-label">Hospital Group<sup>*</sup> </label>
                                                <select class="form-control" 
                                                id="hospital_groupId"   
                                                [(ngModel)]="selectedValue1"
                                               
                                                  formControlName="hospital_group"  required>
                                             
                                              <option value=""  selected>select</option>
                                            <option *ngFor="let hospital of hospital_group">{{hospital.name}}
                                    
                                            </option>
                                            </select>
                                            <span class="help-block" *ngIf="(hospitalForm.get('hospital_group').touched || 
                                                        hospitalForm.get('hospital_group').dirty) && 
                                                        hospitalForm.get('hospital_group').errors">
                                    <span *ngIf="hospitalForm.get('hospital_group').errors.required">
                                            Please select one.
        
                                                    </span>
                                                    </span>
        
                                        </div>
        
        
                                    </fieldset>
                        

                        </section>





                       
                                
                                                <label for="checkid" style="margin-left:18px" >
                                                Days Open:<sup>*</sup>
                                                </label>            
                        <div class="form-group" [formArrayName]="'days'"  [class.invalid]="!hospitalForm.controls.selectedItems.valid">
                                        <fieldset class="form-group">
                                <label *ngFor="let control of hospitalForm.controls.days.controls; let i = index;" [formGroup]="control">
                                  <input   type="checkbox" formControlName="checkbox" id="{{ control.controls.id.value }}">
                                  <label attr.for="{{ control.controls.id.value }}">{{ control.controls.text.value }}</label>
                                </label>
                              <span [class.invalid]="!hospitalForm.controls.selectedItems.valid"  *ngIf="!hospitalForm.controls.selectedItems.valid&&flag">
                                <sup>*</sup> Select atleast one day.
                              </span>
                        </fieldset>
                </div> 

                        <section class="row" >
                                        <fieldset class="col-sm-3 form-group">
    
                                                        <div class="form-group"
                                                        [ngClass]="{'has-error':(hospitalForm.get('website').touched ||
                                                        hospitalForm.get('website').dirty) &&
                                                        hospitalForm.get('website').errors }">
                        
                                                        <label  for="websiteId" class="control-label" >Website<sup>*</sup> </label>
                        
                                                                <input class="form-control"
                                                                id="websiteId"
                                                                type="text"
                                                                pattern="^((https?|ftp|smtp):\/\/)?(www.)?[a-z0-9]+\.[a-z]+(\/[a-zA-Z0-9#]+\/?)*$"
                                                                
                                                                placeholder="hospital Name (required)"
                                                                formControlName="website" />
                                                <span class="help-block" *ngIf="(hospitalForm.get('website').touched ||
                                                                                 hospitalForm.get('website').dirty) &&
                                                                                 hospitalForm.get('website').errors">
                                                        <span *ngIf="hospitalForm.get('website').errors.required">
                                                                Please enter website.
                                                        </span>
                                                </span>
                        
                                                </div>
                                                </fieldset>

                         

                                                <fieldset class="col-sm-3 form-group">
    
                                                                <div class="form-group" [ngClass]="{'has-error':(hospitalForm.get('type').touched ||
                                                                hospitalForm.get('type').dirty) &&
                                                                hospitalForm.get('type').errors }">
                                                                        <label  for="type" class="control-label">Type<sup>*</sup> </label>
                                                                        <select class="form-control" 
                                                                        id="typeId"   

                                                                        [(ngModel)]="selectedValue"
                                                                       
                                                                          formControlName="type"  required>
                                                                     
                                                                      <option value=""  selected>select</option>
                                                                    <option *ngFor="let type of ftypes">{{type}}
                                                            
                                                                    </option>
                                                                    </select>
                                                                    <span class="help-block" *ngIf="(hospitalForm.get('type').touched || 
                                                                                hospitalForm.get('type').dirty) && 
                                                                                hospitalForm.get('type').errors">
                                                            <span *ngIf="hospitalForm.get('type').errors.required">
                                                                    Please select one.
                                
                                                                            </span>
                                                                            </span>
                                
                                                                </div>
                                
                                
                                                            </fieldset>



                            </section>


                            
                            <section class="row" >
            
                                        <fieldset class="col-sm-3 form-group">
               
                                                <div class="form-group"
                                                [ngClass]="{'has-error':(hospitalForm.get('city').touched ||
                                                hospitalForm.get('city').dirty) &&
                                                hospitalForm.get('city').errors }" >
                                                        <label  for="city" class="control-label">City<sup>*</sup> </label>
            
                                                        <input class="form-control"
                                                        id="cityId"
                                                        type="text"
                                                        [(ngModel)]="city"
                                                        readonly
                                                        pattern="[A-Za-z]{3}[0-9A-Za-z\s]*"
                                                        formControlName="city" />
            
            
                                                        <span class="help-block" *ngIf="(hospitalForm.get('city').touched || 
                                                        hospitalForm.get('city').dirty) && 
                                                        hospitalForm.get('city').errors">
                                    <span *ngIf="hospitalForm.get('city').errors.required">
                                                            Please enter the city name.
                                                    </span>
                                                    </span>
            
                                                </div>
            
                                        </fieldset>
            
                                    
                                        <fieldset class="col-sm-3 form-group" >
            
                                                    <div class="form-group"
                                                    [ngClass]="{'has-error':(hospitalForm.get('state').touched || 
                                                    hospitalForm.get('state').dirty) && 
                                                    hospitalForm.get('state').errors }">
                    
                                                    <label  for="stateId" class="control-label">State<sup>*</sup> </label>
                                                   
                                                            <input class="form-control" 
                                                            id="stateId" 
                                                            type="text" 
                                                            pattern="[A-Za-z]{3}[0-9A-Za-z\s]*"
                                                            formControlName="state" />
                                            <span class="help-block" *ngIf="(hospitalForm.get('state').touched || 
                                                                             hospitalForm.get('state').dirty) && 
                                                                             hospitalForm.get('state').errors">
            
                                                 <span *ngIf="hospitalForm.get('state').errors.required">
                                                    Please enter state name.
                                                 </span>
                                                   
                                                    <span *ngIf="hospitalForm.get('state').errors.minlength">
                                                    State Name must be atleast 3 characters.
                                                    </span>
                                                    
                                            </span> 
                                            
                                            </div> 
                                            </fieldset>
                    
            
                                        <fieldset class="col-sm-3 form-group">
               
                                                <div class="form-group"
                                                [ngClass]="{'has-error':(hospitalForm.get('country').touched ||
                                                hospitalForm.get('country').dirty) &&
                                                hospitalForm.get('country').errors }" >
                                                        <label  for="country" class="control-label">Country<sup>*</sup> </label>
            
                                                        <input class="form-control"
                                                        id="countryId"
                                                        type="text"
                                                        required
                                                        pattern="[A-Za-z]{3}[0-9A-Za-z\s]*"
                                                        formControlName="country" />
            
                                                        <span class="help-block" *ngIf="(hospitalForm.get('country').touched || 
                                                        hospitalForm.get('country').dirty) && 
                                                        hospitalForm.get('country').errors">
                                                        <span *ngIf="hospitalForm.get('country').errors.required">
                                                            Please enter the country name.
                                                    </span>
                                                    </span>
            
            
                                                </div>
            
                                        </fieldset>
                                        <fieldset class="col-sm-3 form-group">
               
                                                        <div class="form-group"
                                                        [ngClass]="{'has-error':(hospitalForm.get('address').touched ||
                                                        hospitalForm.get('address').dirty) &&
                                                        hospitalForm.get('address').errors }" >
                                                                <label  for="address" class="control-label">Address<sup>*</sup> </label>
                    
                                                                <input class="form-control"
                                                                id="addressId"
                                                                type="text"
                                                                pattern="[0-9]{0,6}[a-zA-Z\s.-]{1,50}[0-9a-zA-Z\s.,-]*"
                                                                required
                                                                formControlName="address" />
                                                                <span class="help-block" *ngIf="(hospitalForm.get('address').touched || 
                                                                hospitalForm.get('address').dirty) && 
                                                                hospitalForm.get('address').errors">
                                                                
                                                                <span *ngIf="hospitalForm.get('address').errors.required">
                                                                    Please enter the address
                                                            </span>
                                                            </span>
                    
                    
                                                        </div>
                    
                                                </fieldset>
            
                           </section>
                                   <section class="row" >
            
            
            
                                       
            
                                        <fieldset class="col-sm-3 form-group">
               
                                                    <div class="form-group" >
                                                            <label  for="landmark" class="control-label">Landmark (Optional) </label>
                
                                                            <input class="form-control"
                                                            id="landmarkId"
                                                            type="text"
                                                            pattern="[0-9]{0,6}[a-zA-Z\s.-]{1,50}[0-9a-zA-Z\s.,-]*"
                                                           
                                                            required="false"    
                                                            formControlName="landmark" />
                                                    </div>
                
                                            </fieldset>
                
                                            <fieldset class="col-sm-3 form-group">
                   
                                                    <div class="form-group"
                                                    [ngClass]="{'has-error':(hospitalForm.get('pincode').touched ||
                                                    hospitalForm.get('pincode').dirty) &&
                                                    hospitalForm.get('pincode').errors }" >
                                                            <label  for="pincode" class="control-label">pincode<sup>*</sup> </label>
                
                                                            <input class="form-control"
                                                            id="pincodeId"
                                                            type="text"
                                                            pattern="[0-9]{4,10}"
                                                            required
                                                            formControlName="pincode" />
                
                                                            <span class="help-block" *ngIf="(hospitalForm.get('pincode').touched || 
                                                            hospitalForm.get('pincode').dirty) && 
                                                            hospitalForm.get('pincode').errors">
                                                            <span *ngIf="hospitalForm.get('pincode').errors.required">
                                                                Please enter the pincode.
                                                        </span>
                                                        </span>
                
                
                                                    </div>
                
                                            </fieldset>
                                            <fieldset class=" col-sm-3 form-group" style="margin-left: 10px;" >
                                                        <label for="checkid">
                                                                         Description:
                                                        </label>
                                                        <textarea class="form-control"    pattern="[0-9]{0,6}[a-zA-Z\s]{1,1000}[0-9a-zA-Z\s]*"   id="description" name="description" style="width: 200%; height:10%" formControlName="description" class="description-about-lab"></textarea>
                                                        </fieldset>
            
            
                                     
            
                                        
            
            
                                   </section>
            
            
                                   <div class="form-group">
                                            <input type="radio" id="btn" (click)="getLatLong()" style="margin-left: 10px"> <b>Get Latitude Longitude</b>
                                        </div>
            
                                   <section class="row" >
            
            
            
                                            <fieldset class="col-sm-3 form-group">
               
                                                            <div class="form-group"
                                                            [ngClass]="{'has-error':(hospitalForm.get('latitude').touched ||
                                                            hospitalForm.get('latitude').dirty) &&
                                                            hospitalForm.get('latitude').errors }" >
                                                                    <label  for="latitude" class="control-label">Latitude<sup>*</sup> </label>
                        
                                                                    <input class="form-control"
                                                                    id="latitudeId"
                                                                    [ngModel]="latitude"
                                                                    type="text"
                                                                    pattern="^-?[0-9]*[.][0-9]*"
                                                                     required
                                                                    formControlName="latitude" />
                                                                
                                                                    <span class="help-block" *ngIf="(hospitalForm.get('latitude').touched || 
                                                                    hospitalForm.get('latitude').dirty) && 
                                                                    hospitalForm.get('latitude').errors">
                                                                    
                                                                    <span *ngIf="hospitalForm.get('latitude').errors.required">
                                                                        Please select "get latitude and longitude".
                                                                </span>
                                                                </span>
                        
                                                            </div>
                        
                                                    </fieldset>
            
                                            <fieldset class="col-sm-3 form-group">
               
                                                            <div class="form-group"
                                                            [ngClass]="{'has-error':(hospitalForm.get('longitude').touched ||
                                                            hospitalForm.get('longitude').dirty) &&
                                                            hospitalForm.get('longitude').errors }" >
                                                                    <label  for="longitude" class="control-label">Longitude<sup>*</sup> </label>
                        
                                                                    <input class="form-control"
                                                                    id="longitudeId"
                                                                    type="text"
                                                                    [ngModel]="longitude"
                                                                    pattern="^-?[0-9]*[.][0-9]*"
                                                                    required
                                                                    formControlName="longitude" />
                                                                
                                                                    <span class="help-block" *ngIf="(hospitalForm.get('longitude').touched || 
                                                                    hospitalForm.get('longitude').dirty) && 
                                                                    hospitalForm.get('longitude').errors">
                                                                    
                                                                    <span *ngIf="hospitalForm.get('longitude').errors.required">
                                                                        Please select "get latitude and longitude".
                                                                </span>
                                                                </span>
                        
                                                            </div>
                        
                                                    </fieldset>
            
                                       
            </section>
            
            
                       

                   
                               

                  <div class="row">

                  <div class="btn" style="margin-left: 320px; background: white;width: 50px">
                                    <button class="btn btn-primary" style="margin-left:0px" type="submit" [disabled]="!hospitalForm.valid" >Submit</button>

                            </div>


                            <div class="btn" style="margin-left: 30px; background: white;width: 50px">
                                        <button class="btn btn-primary" style="margin-left:0px" type="submit" (click)="Reset()">Reset</button>

                                </div>
                </div>




                </form>




        </div>
        <footer class="panel-footer">
                <i class="fa fa-arrow-circle-left pull-left" aria-hidden="true" ng-click="/hospitalform"></i>
                <i class="fa fa-arrow-circle-right pull-right" aria-hidden="true" ng-click="/hospitalform"></i>
              </footer>
        </div>
        </div>


        <!-- <div class="panel-heading form-group" style="background: white;float:left; margin:15px;width:90%" >
           {{hospitalForm.value|json}}
                <br> <br>  -->
               
   



