<app-hospital-sidebar></app-hospital-sidebar> 
<button class="btn btn-primary" *ngIf="hospital_id" [routerLink]="['/addhospitalimages',hospital_id]"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add Hospital images</button>
<div class="row">
      
      <div class="table-responsive">
    <table class="table table-bordered">
        
        <caption>List of images</caption>
        <thead>
          <tr class="bg-success">
              <th>Sr.No</th>
            <th>Image</th>
            <th>Description</th>   
            <th>Last Operation</th>
            <th>Status</th>
            <th>Action</th>
            <th>Moderate</th>
          </tr>
        </thead>
        <tbody *ngFor="let images of images;let i=index;"  [class.selected]="images.id === selectedId"> 
            
          <tr>  
            
            <td> {{i+1}} </td>
            <td><img src="{{images.image_url}}" style="height: 100px"> </td>
            <td>{{images.description}}</td>
            <td>{{images.operation}}</td>
            <td>{{images.approval_status}}</td>
            <td><button class="btn" (click)="edit(images.id)"><i class="fa fa-edit"></i></button><button class="btn" (click)="delete(images.id)"><i class="fa fa-trash-alt"></i></button></td>
            <td><button class="btn" (click)="app(images.id)"><i class="fa fa-thumbs-up"></i></button><button class="btn" (click)="dis(images.id)"><i class="fa fa-thumbs-down"></i></button></td>
          </tr>
          
        </tbody>
    </table>
  </div>
</div>


