<button class="btn btn-primary" routerLink="/labform"><i class="fa fa-plus-circle" aria-hidden="true"></i>Add</button>
<div class="row">
  <div class="col-sm-30">
      
      <div class="table-responsive">
    <table class="table table-bordered">
        
        <caption>List of Labs</caption>
        <thead>
          <tr class="bg-success">
            <th> Sr. No. </th>
            <th>Name</th>
            <th>Phone No.</th>
            <th>Last Operation</th>
            <th>Approval Status</th>
            <th>Action</th>
            <th>Moderate</th>
          </tr>
        </thead>
        <tbody *ngFor="let lab of lab;let i=index">
            <tr>
              <td> {{i+1}} </td>
              <td [routerLink]="['/labhome', lab.id]"> {{lab.name}} </td>
              <td> {{lab.mobile}} </td>
              <td>{{lab.operation}}</td>
              <td> {{lab.approval_status}} </td>
              <td><button class="btn" (click)="edit(lab.id)"><i class="fa fa-edit"></i></button><button class="btn" (click)="delete(lab.id)"><i class="fa fa-trash-alt"></i></button></td>
              <td><button class="btn" (click)="app(lab.id)"><i class="fa fa-thumbs-up"></i></button><button class="btn" (click)="dis(lab.id)"><i class="fa fa-thumbs-down"></i></button></td>
            </tr>
          </tbody>


    </table>
  </div>
</div>
</div>


